body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

/* Header */
header {
    background: #111;
    color: white;
    text-align: center;
    padding: 50px;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* Skills */
.skills ul {
    list-style: none;
}

.skills li {
    display: inline-block;
    background: #333;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
}

/* Projects */
.card {
    background: white;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 250px;
    box-shadow: 0 0 10px gray;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}
